<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kptach.lib.game.huawei">

    <application>

        <service android:name="com.huawei.cloudgame.service.CASService"
            android:exported="false"
            android:enabled="true"
            />
    </application>
</manifest>