<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kptech.game.kit" >
    <!--必要权限-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--可选权限-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <application>

        <!--<provider-->
            <!--android:name=".provider.FileProviderAdapter"-->
            <!--android:authorities="${applicationId}.fileProvider"-->
            <!--android:exported="false"-->
            <!--android:grantUriPermissions="true">-->
            <!--<meta-data-->
                <!--android:name="android.support.FILE_PROVIDER_PATHS"-->
                <!--android:resource="@xml/update_file_provider" />-->
        <!--</provider>-->

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <service
            android:name="kptech.cloud.kit.msg.MessagerService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name="kptech.game.kit.activity.GamePlay"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:theme="@style/MyTheme.Activity.GamePlay"
            android:launchMode="singleTask"/>

        <activity android:name="kptech.game.kit.dialog.WebViewActivity"  />

        <service
            android:name="kptech.game.kit.download.DownloadTask"
            android:enabled="true" android:exported="true"
            />
        <provider
            android:name=".provider.FileProviderAdapter"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/update_file_provider" />
        </provider>
    </application>

    <!--<queries>
        <package android:name="com.tencent.mm" />
        <package android:name="com.eg.android.AlipayGphone"/>
        <package android:name="com.tencent.qqlite"/>
        <package android:name="com.tencent.mobileqq"/>
        <package android:name="com.sina.weibo" />
    </queries>-->

</manifest>
