<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kuaipan.game.demo">

    <application
        android:name="com.yd.yunapp.gamebox.DemoApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--<activity-->
            <!--android:name="com.kuaipan.game.demo.HomeActivity"-->
            <!--android:configChanges="locale|layoutDirection|screenSize|keyboardHidden|orientation"-->
            <!--android:screenOrientation="portrait">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        <!--</activity>-->
        <!--<activity-->
            <!--android:name="com.kuaipan.game.demo.GameRunningActivity"-->
            <!--android:configChanges="screenSize|keyboardHidden|orientation"-->
            <!--android:theme="@style/CloudPhone" />-->

        <activity
            android:name="com.yd.yunapp.gamebox.HorizontalHomeActivity"
            android:theme="@style/NoTitleFullscreen"
            android:configChanges="locale|layoutDirection|screenSize|keyboardHidden|orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yd.yunapp.gamebox.GameRunningActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:theme="@style/CloudPhone" />
    </application>

</manifest>